.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  display: flex;
  flex-direction: column;
}

.popup__text::placeholder {
  font-family: inherit;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__text::-webkit-input-placeholder {
  font-family: inherit;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__text:-moz-placeholder {
  font-family: inherit;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__text::-moz-placeholder {
  font-family: inherit;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__text:-ms-input-placeholder {
  font-family: inherit;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__text::-ms-input-placeholder {
  font-family: inherit;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}