.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  display: flex;
  flex-direction: column;
}

input::placeholder {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

input::-webkit-input-placeholder {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

input:-moz-placeholder {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

input::-moz-placeholder {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

input:-ms-input-placeholder {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

input::-ms-input-placeholder {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

input {
  font-family: inherit; 
}

input:focus {
  outline: none;
}

input:hover {
  opacity: 0.6;
}

input[type="text"]:hover {
  opacity: 1;
}

button:hover {
  opacity: 0.6;
}