.card__like-button {
  width: 22px;
  height: 19px;
  background-color: #fff;
  background-image: url(../../../images/Vector\ \(Stroke\).png);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  border: none;
}
  .card__like-button:active {
  background-image: url(../../../images/Union.png);
  opacity: 1;
}